

.ticket-box{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    width: 817px;
    height: 98px;
    border-radius: 15px;
    border: 1px;
    border: 1px solid #F07B6A;
    font-family: Fixel Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
    text-align: left;
    margin-top: 50px;
}

.id-content{
    font-weight: bold;
    margin: 5px 25px 0 15px;
    
}

.route-content{
    font-weight: bold;
    margin: 5px 30px;
}

.info-content{
    display: flex;
    font-family: Fixel Display;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.32px;
    text-align: left;
    color: #9D9D9D;
    margin-top: -15px;
}

.pending-content{
    margin: 5px 20px;
}
.peding-info{
    color: #F07B6A;
}
.price-content{
    font-weight: bold;
    margin-top: -15px;
}

.btn-details{
    margin: 25px 5px 0 25px;
    width: 171px;
    height: 40px;
    border-radius: 6px;
    background: #F07B6A;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Fixel Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
}





.select-all-ticket,
.select-status {
    width: 100%; 
    height: 100%; 
    position: relative;
    margin-top: 20px;
    width: 411px;
    height: 57px;
    border-radius: 15px 0px 0px 0px;
    overflow: hidden;
    border: 1px solid #F07B6A; 
    padding: 0 0 0 15px;
    font-family: Fixel Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.08px;
    text-align: left;
    color: #9D9D9D;
    cursor: pointer;
    appearance: none; /* Вимкнути стандартний вигляд */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
}

.select-status {
    border-radius: 0px 15px 0px 0px;
}

.select-arrow-icon {
    position: absolute;
    top: 65%;
    right: 35px;
    transform: translateY(-50%);
    color: #9D9D9D; 
    pointer-events: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.img-size{
    width: 78px;
    height: 62px;
}

.order-text,
.order-text2{
    font-family: Fixel Display;
    font-size: 24px;
    font-weight: bold;
    line-height: 33.12px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.order-text{
    margin-top: 50px;
}
.order-text2{
    font-size: 16px;
}

.select-all-ticket option {
    padding: .8rem;
}

