.comment-block{
    position: relative;
    display: flex;
    width: 620px;
    height: fit-content;
    border: 1px solid #F07B6A;
    padding: 20px 0px;
    padding-right: 20px;
    gap: 1rem;
}
.comment-avatar{
    width:158px;
    height: 157px;
}
.comment-box{
    background-color: #FEF3F2;
    width: 500px;
    height: 137px;
    padding: 10px;

}
.comment-box-title{
    display: grid;
    grid-template-columns: 65% 35%;
}
.comment-box p{
    margin: 0;
    max-width: 400px;
}
.rate-bar{
    color:#F07B6A;

}
.comment-box-body{
    margin-top: 5px;
    padding: 10px 0px;
    max-width: 450px;
}

.comments-block{
    padding: 45px 100px;
}
.comments-block h1{
    color: #F07B6A;
}
.comments-field{
    width: fit-content;
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.comment-form-block h1{
    color: white;
    margin-left: 80px;
}
.comment-form-block{
    background-color: #F07B6A;
    padding: 20px 20px;
}
.comment-form{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    margin-left: 80px;
}
.comment-form-body{
    display: flex;
    height: 149px;
    padding: 5px;
    background-color: white;
}
.comment-form-body input[type="submit"]{
    cursor: pointer;
    font-family: Fixel Display Light;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 9px;
    text-align: center;
    padding: 0;
    color: white;
    background: #F07B6A;
    width: 170px;
    height: 40px;
    margin-top: 60px;
    font-weight: normal;
    padding-top: 2%;
}

.comment-form-body textarea{
    font-size: 16px;
    font-family: Fixel Display Light;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 120px;
    resize: none;
    border: none;
    outline: none;
    width: 60vw;
    background-color: rgba(240, 123, 106, 0.09);
}
.rate-block{
    display: grid;
    padding: 10px;
}
.rate-block>.rate-bar{
    margin-top: 10px;
    margin-left: 15px;
}