.card-form input{
    margin: 1rem;
    width: 375px;
    outline: none;
}
.card-form input[type="submit"] {
    color: white;
    background-color: #F07B6A;
    cursor: pointer;
    width: 395px;
}
.card-form {
    display: flex;
}
.card-form form{
    width: 60%;
}
.card-form h1{
    margin-left: 1rem;
}
.pay-card {
    width: 400px;
    height: 225px;
    margin-top: 6.5rem;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    background-image: linear-gradient(293.83deg, #000000 38.72%, #F07B6A 97.59%);
}
.pay-card p:first-child {
    margin-top: 4.5rem;
}
.pay-card p{
    margin: 1rem 0;
}