.card-from-container {
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 11px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 5rem 20rem;
}